# jetbrain
*.iml
.idea

# intelliJ
out

# macOS
.DS_store

# maven
target

# ant,cmake
build
cmake-build-debug

# java
*.class

# vim
*.swp

# bower
bower_components

# python
__pycache__
venv

# hwp
~$*

# node
node_modules
package-lock.json
static
